<!-- book-detail.component.html -->
<div *ngIf="book" class="book-details-page-item">
  <app-book [book]="book" [bookCardView]="'landscape'" class="book-basic-info"></app-book>  
  <div class="book-details">
    {{book.details}}
  </div>
  <div class="item-cart-control">
    <button *ngIf="!currentUser; else addToCartButton" class="disabled-button">
      <a 
        *ngIf="!currentUser; else addToCartButton" 
        title="login" 
        routerLink="/account"
        >Login</a> to add to cart
    </button>
    <ng-template #addToCartButton>
      <button 
        *ngIf="currentUser!.cart!.length === 0 || !doesBookExistInCart(book.id);else itemInCartHandler" 
        (click)="addToCart(book.id)" 
        class="add-first-item-to-cart"
        >
        Add to cart
      </button>
      <ng-template #itemInCartHandler>
        <div class="in-cart-item-handler">
          <button (click)="removeFromCart( book.id )" class="in-cart-item-button icon">
            <img src="../../../assets/icons/delete_icon.png" class="in-cart-item-icon" alt="">
          </button>
          <button (click)="decreaseQuantityInCart( book.id )" class="in-cart-item-button text">
            <b>-</b>
          </button>
          <b class="in-cart-items-counter">
            {{getItemQuantityInCart(book.id)}}<br>In cart
          </b>
          <button (click)="addToCart( book.id )" class="in-cart-item-button text">
            <b>+</b>
          </button>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
