<!-- Header -->
<header>
  <div class="header-container">
    <a title="home" routerLink="/" class="logo">
      <h1>B-bay</h1>
    </a>
    <input class="desktop-search-bar" type="text" [(ngModel)]="searchQuery" placeholder="Search books" (input)="onSearch()">
    <div class="header-links">
      <a *ngIf="currentUser && currentUser.isAdmin" title="dashboard" routerLink="/admin/dashboard">Dashboard</a>
      <a *ngIf="!currentUser || (currentUser && !currentUser.isAdmin)" title="account" routerLink="/account">Account</a>
      <a title="cart" routerLink="/cart">Cart</a>
      <!-- <a title="admin" routerLink="/admin/dashboard">Admin</a> -->
    </div>
  </div>
  <input class="mobile-search-bar" type="text" [(ngModel)]="searchQuery" placeholder="Search books" (input)="onSearch()">
</header>

<!-- Navigation -->
<nav>
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/search">Search</a></li>
  </ul>
</nav>

<!-- Main Content -->
<main>
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer>
  <p>&copy; 2024 B-bay Bookstore. All rights reserved.</p>
</footer>
