header {
  background-color: #333;
  padding: 1rem;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 500px) {

  header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* .header-container > * {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
  }  */

}

.desktop-search-bar {
  flex-grow: 1;
}

.mobile-search-bar {
  display: none;
}

@media (max-width: 500px) {

  .desktop-search-bar {
    display: none;
  }

  .mobile-search-bar {
    display: inline;
    width: 100%;
  }

}


.logo {
  color: white;
  text-decoration: none;
}

.logo h1 {
  margin: 0;
}

/* .header-container input {
  flex-grow: 1;
  margin: 0 10px;
  padding: 5px;
} */

.header-links a {
  color: white;
  padding: 0 5px;
  text-decoration: none;
}


.nav-links {
  list-style: none;
  padding: 0;
  background-color: #444;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #555;
}


main {
  flex-grow: 1;
  padding: 1rem;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
}
